<div class="paginator-view">
    <div class="page-sizes float-left" >
        <!-- Chọn cỡ trang  -->
         <!-- chọn nội dung trong dataSource và chọn giá trị được chọn sẽ truyền vaò
          biến pageSize và Pa -->
        <dx-select-box
            [width]="50"
            [showDropDownButton]="false"
            [dataSource]="pageSizes"
            [(value)]="pageSize"
            (onValueChanged)="onValueChanged(pageSize)"
        ></dx-select-box>
        <label>{{nameData}}/trang | <b>Tổng số: {{totalRows}} {{nameData}}</b></label>
    </div>
    <ngb-pagination
    class="float-right"
    [pageSize]="pageSize"
    [page]="page"
    [maxSize]="5"
    [rotate]="true"
    [boundaryLinks]="true"
    [collectionSize]="totalRows"
    (pageChange)="onPageChanged($event)"
    >
        <ng-template ngbPaginationFirst>Đầu</ng-template>
        <ng-template ngbPaginationLast>Cuối</ng-template>
        <ng-template ngbPaginationPrevious>Trước</ng-template>
        <ng-template ngbPaginationNext>Sau</ng-template>
        <ng-template ngbPaginationEllipsis>...</ng-template>
        <ng-template ngbPaginationNumber let-page >{{ page }}</ng-template>
    </ngb-pagination>